* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #1A212F;
}
body {
    background: #FCFBFB;
}
nav {
    font-weight: 500;
    background: url(../img/logo.png) no-repeat left 98px center;
    padding: 32px 98px;
    display: flex;
    justify-content: flex-end;
}
nav input, nav label, nav span {
    display: none;
}
nav .tel, nav .social {
    display: none;
}
nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
nav ul li a {
    color: #1A212F;
    text-decoration: none;
}
/*кнопки*/
.button {
    text-decoration: none; 
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 15px 27px 17px 30px; 
    display: inline-block;
    width: 206px;
    background-repeat: no-repeat;
    background-position: center right 7px;
}
.button-reserve1 {    
    color: #1A212F;
    background-color: #FFFEFD;
    background-image: url(../img/paw.png) ;   
    margin-top: 40px;   
}
.button-reserve2 {
    color: #FFFEFD;
    background-color: #FF7236;
    background-image: url(../img/paw_invert.png);   
    margin-top: 10px;
}
.banner {        
    width: 100%;
    background: url(../img/main1.png) no-repeat left center #FDAA52;
    background-size: cover;
    padding: 153px 198px;
}
.banner p {
    font-size: .875rem;
    margin: 0;
}
.banner h1 {
    font-weight: bold;
    font-size: 3.875rem;  
    margin: 0;    
}
.banner h2 {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
}

/*why*/
.why {
    padding-top: 140px;
    background: url(../img/paw_big.png) no-repeat right top;
}
.screen_name {
    font-weight: bold;
    font-size: 2.25rem;
    text-align: center;
}
.why-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-left: 98px;
    padding-right: 98px;
}
.why .item {
    background: #fff;
    border-radius: 4px;
    padding: 30px;
    flex-basis: 370px;
}
.why .item h3 {
    font-weight: 500;
    font-size: 1.375rem;
    margin-bottom: 20px;
}
.why .item p {
    font-size: 1rem;
    line-height: 140%; 
}

/*numuri*/
.numuri {
    margin-top: 140px;
    background: url(../img/fish.png) no-repeat left top;
}
.numuri figure {
   position: relative;
   max-width: 1170px;
   width: 100%;
   height: 404px;  
   margin: 0 auto;
}
.numuri img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    max-width: 600px;
    position: absolute;
    left: 10%; 
    top: 0;
    z-index: 1;
}
.numuri figcaption {
    background: #fff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 40px 117px 40px 100px;
    position: absolute;
    right: 0;
    top: 10%;
    bottom: 10%;
    z-index: 2;
}
.numuri h3 {
    font-weight: 500;
    font-size: 1.375rem;
    margin: 0 0 30px;
    padding: 0;   
}
.numuri figcaption ul {
     list-style: none;
     padding: 0;
}
.numuri figcaption li {
    font-size: 1rem;
    margin: 0 0 20px;
    padding: 0 0 0 21px;    
    background: url(../img/marker.png) no-repeat 0 2px;
}
.owl-theme .owl-dots {
    margin-top: 30px;
}
.numuri .owl-theme .owl-dots .owl-dot.active span {
    background: #FAC663;
}
.owl-carousel {
    width: 100%;
    margin: 0 auto;
}
.numuri .owl-carousel .owl-nav button.owl-prev, .numuri .owl-carousel .owl-nav button.owl-next {
    background: #fff;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0px 2px 12px rgb(224, 224, 224);    
    -webkit-box-shadow: 0px 2px 12px rgb(224, 224, 224);    
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);    
}
button.owl-prev span, button.owl-next span {
    color: #FF7236;   
}
.owl-theme .owl-nav {
    text-align: right;
    position: absolute;
    right: 5%;
    bottom: 0;
}

/*atsauk*/
.atsauk {
    padding-top: 140px;
    background: url(../img/paw_big2.png) no-repeat right top;
}
.atsauk .item {
    background: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 25px rgb(253, 253, 253);
    -moz-box-shadow: 0px 0px 25px rgb(253, 253, 253);
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    padding: 35px 38px 30px 70px;
    margin-right: 30px;
    display: inline-block;
}
.atsauk .item p {
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: -.02em;
    margin-top: 0;
}
.atsauk .item p:first-child {
     display: flex;

}
.atsauk .item p:first-child span {
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
    color: #FAC663;
    margin-top: 20px;
    margin-left: -26px;
}
.atsauk .item .details {
    font-size: .875rem;
    color: #848484;
    display: flex;
    justify-content: space-between;
}
.atsauk .owl-carousel {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.atsauk .owl-theme .owl-dots .owl-dot.active span {
    background: #FAC663;
}
.atsauk .owl-carousel .owl-nav button.owl-prev, .atsauk .owl-carousel .owl-nav button.owl-next {
    background: #fff;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0px 2px 12px rgb(224, 224, 224);    
    -webkit-box-shadow: 0px 2px 12px rgb(224, 224, 224);    
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);    
}

/*contacts*/
.contacts {
    margin-top: 140px;
    display: flex;
}
.contacts .info {
    background: #FAC663;
    padding: 70px 0 70px 198px;
    min-width: 568px;
}
.contacts h2 {
    text-align: left;
    margin-bottom: 50px;
}
.contacts h5 {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 15px;
}
.contacts p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 35px;
}
.social {
    display: flex;
    gap: 20px;
}
.contacts #map {
    background: #999;
    width: 100%;
    height: auto;
}
@media (max-width: 1150px) {
    .contacts .info {
        padding-left: 98px;
    }
}

/*footer*/
footer {
    background-color: #fff;
}
footer p {
    border-top: 1px solid #EFEFEF;
    font-size: .75rem;
    display: flex;
    justify-content: space-between;
    color: #8F8F8F;
    padding: 20px 198px;
    margin-bottom: 0;
}

/*catalog*/
.catalog {
    padding: 70px 5% 140px;   
}
.catalog_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
h1.screen_name {
    text-align: left;
    margin: 0;
}
/*!!!
.sort {
    font-size: 14px;
    line-height: 17px;
    background: #fff;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -moz-box-shadow: 0px 2px 12px rgb(253, 253, 253);
    -webkit-box-shadow: 0px 2px 12px rgb(253, 253, 253);
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    padding: 12px 30px 13px 30px;
    display: flex;
    justify-content: center;
}
.sort img {
    display: inline-block;
    padding-left: 10px;
}
*/
.filter_button {
    display: none;
}
.catalog-content {
    display: flex;
    gap: 50px;
}
.filter {
    align-self: flex-start;
}
.filter h4 {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0;
}
.filter label {
    font-size: .875rem;
}
.filter input[type="checkbox"]:checked, 
.filter input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.filter input[type="checkbox"]:checked + label, 
.filter input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 1.25rem;
    cursor: pointer;
    margin-bottom: 15px;
}
.filter input[type="checkbox"]:checked + label:before, 
.filter input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #E1E1E1;
    background-color: #ffffff;    
}
.filter input[type="checkbox"]:checked + label:after, 
.filter input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 6px;
    width: 10px;
    height: 5px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border-left: 2px solid #141312;
    border-bottom: 2px solid #141312;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.filter input[type="checkbox"]:not(:checked) + label:after {
    -moz-opacity: 0;
    opacity: 0;
}
.filter input[type="checkbox"]:checked + label:after {
    -moz-opacity: 1;
    opacity: 1;
}
.filter a {
    font-weight: 500;
    font-size: .875rem;
    text-decoration: none;
    border: 2px solid #FAC663;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    display: block;
    width: 185px;
    text-align: center;
    padding: 15px;
    margin-top: 42px;
}
#apply-filter {
    display: none;
}
.filter .close-button {
    display: none;
}
.filter .square {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}
.card {
    flex-basis: 270px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #E1E1E1;
    -moz-box-shadow: 0px 0px 25px rgb(243, 243, 243);
    -webkit-box-shadow: 0px 0px 25px rgb(243, 243, 243);
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.card img.photo {
    height: 185px;
}
.cards .info {
    padding: 0 20px 25px 10px;
}
.cards h4 {
    font-weight: 500;
    font-size: 1.25rem;
}
.cards p {
    font-size: .875rem;
    display: flex;
}
.cards p span {
    font-weight: 500;
    padding-left: 10px;
}
.cards p img {
    padding-left: 8px;
}
.cards .button-reserve2 {
    width: 100%;
    padding-left: 51px;
}
/*tooltip*/
.ui-tooltip, .arrow:after {
    background: #FFFEFD;
    -webkit-box-shadow: 0px 4px 12px rgb(253, 253, 253);
    -moz-box-shadow: 0px 4px 12px rgb(253, 253, 253);
    box-shadow: 0px 4px 12px rgba(173, 152, 143, 0.18);
}
.ui-tooltip {
    padding: 10px;
    font-size: .75rem;
    border: 1px solid #FAC663;
    width: auto;
    height: 35px;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}      
.arrow::after {
    content: "";
    position: absolute;
    left: 30%;
    top: 30px;
    width: 7px;
    height: 7px;
    border: solid #FAC663;
    border-width: 0 1px 1px 0;
    -moz-box-shadow: 0px 4px 12px rgb(253, 253, 253);
    -webkit-box-shadow: 0px 4px 12px rgb(253, 253, 253);
    box-shadow: 0px 4px 12px rgba(173, 152, 143, 0.18);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*discount*/
.discount {
    background-image: url(../img/paw_big6.png), url(../img/discount1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, 0 40%;
    padding-left: 270px;
    padding-top: 78px;
    padding-bottom: 78px;
    max-width: 1170px;
    max-height: 379px;
    margin: 0 auto;    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.discount p {
    font-size: 1rem;
    line-height: 140%; 
    margin: 0;
}
.discount p:first-child {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.69rem;
}
.discount p span {
    display: block;
    font-size: 3.5rem;
    line-height: 4.125rem;
    font-weight: bold;
}

/*room*/
.room-detail {
    background: url(../img/paw_big4.png) no-repeat 105% 0%;
    padding-top: 20px;
}
.room {
    display: flex;
    margin: 50px auto 140px;
    width: 100%;
    max-width: 935px;   
}
.room .picture {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    padding-top: 10px;
}
.room .info {
    padding-left: 70px;
}
.room h2 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
}
.room .info p {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.19rem;
}
.room p.bed, .room p.dom, .room p.igra, .room p.kogti, .room p.none {
    margin-top: 14px;
    margin-bottom: 0;
}
.room .none::before {
    content: 'Пустой номер';
    background: url(../img/none.svg) no-repeat;
    padding-left: 20px;
}
.room .bed::before {
    content: 'Лежак';
    background: url(../img/bed.svg) no-repeat 0 3px;
    padding-left: 20px;
}
.room .dom::before {
    content: 'Домик';
    background: url(../img/dom.svg) no-repeat 0 1px;
    padding-left: 20px;
}
.room .igra::before {
    content: 'Игровой комплекс - ';
    background: url(../img/igra.svg) no-repeat;
    padding-left: 20px;
}
.room .kogti::before {
    content: 'Когтеточка';
    background: url(../img/kogti.svg) no-repeat;
    padding-left: 20px;
}
.room p:last-child {
    margin-top: 32px;
    margin-bottom: 0;
}
.room p span {
    font-weight: 500;
    font-size: 1.125rem;
}
.room .button-reserve2 {
    margin-top: 30px;
}
/*pop-up*/
.hidden {
    display: none;
}
.popup {
    width:100%;
    height: 350vh;
    background: rgb(255,255,255) ;
    background: rgba(255,255,255,.85) ;
    position: absolute;
    top:0;
    z-index: 50;
}
.popup-content {
    margin:2% auto 0;
    width:570px;
    padding:5%;
    background: #FFFEFD url(../img/paw_big3.png) no-repeat -24px -24px;
    -moz-box-shadow: 0px 0px 25px rgb(253, 253, 253);
    -webkit-box-shadow: 0px 0px 25px rgb(253, 253, 253);
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}
.popup-content .row {
    position: relative;
    margin-bottom: 15px;
}
.popup-content .row input {
    border: 1px solid #D7D7D7;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    width: 100%;
    outline: 0;
    padding: 15px 2px 15px 30px;
    position: absolute;
    left: 0;
    top: 0;  
    background: transparent;
}
.popup-content .date input {
    border: 1px solid #D7D7D7;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    outline: 0;
    padding: 15px 2px 15px 20px;
    font-size: 1rem;
}
.popup-content label {
    font-size: 1rem;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    padding: 17px 2px 10px 30px; 
    display: inline-block;
}
.popup-content .row input::placeholder  {
    color: transparent;
}
.popup-content input:focus {
    border: 2px solid #D7D7D7;
}
.popup-content .row input:not(:placeholder-shown)+label  { 
    -moz-opacity: 0;
    opacity: 0;
}
.popup-content .date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-content .date label {
    padding: 0px 4px 0px 10px; 
}
.popup-content .date span {
    font-size: 1rem;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.popup-content .button-reserve2 {
    width: 230px;
    margin: 50px auto 0;  
    display: block;  
    border: 0;
    text-align: left;
    cursor: pointer;
}
.close-button {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

/*thank-popup*/
.thank-popup {
    width:100%;
    height: 100vh;
    background: rgb(255,255,255) ;
    background: rgba(255,255,255,.85) ;
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 50;
}
.thank-popup-content {
    margin:2% auto 0;
    width:570px;
    padding:5%;
    background: #FFFEFD url(../img/paw_big5.png) no-repeat -15px 110%;
    -webkit-box-shadow: 0px 0px 25px rgb(253, 253, 253);
    -moz-box-shadow: 0px 0px 25px rgb(253, 253, 253);
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}
.thank-popup-content .screen_name {
    margin-bottom: 25px;
}
.thank-popup-content p {
    font-size: 1rem;
    line-height: 1.19rem;
    text-align: center;
    margin-top: 25px;
}
.thank-popup-content .button-reserve2 {
    width: 122px;
    display: block;
    margin: 50px auto 0;   
    padding-left: 40px; 
    border: 0;
    text-align: left;
    cursor: pointer;
}

@media (max-width: 768px) and (min-width: 481px) {
    nav {
        background-position:left 45px center;
        padding: 32px 45px 32px 128px;
    }
    nav ul {
        flex-wrap: wrap;
    }
    .banner {    
        height: 100vh;
        background: url(../img/main2.png) no-repeat left bottom #FDAA52;
        padding: 0px;
        justify-content:center;
        align-items: flex-start;
        text-align: center;
    }
    .banner-text {
        padding-top: 18%;
    }
    .banner h2 {
        margin-top: 5px;
    }
    .button-reserve1 {        
        text-align: left;
    }   
    
    /*why*/
    .why-items {
        padding-left: 2.1875rem;
        padding-right: 2.1875rem;
    }
    .why .item {
        flex-basis: 20.25rem;
        padding: 1.25rem;
        flex-grow: 1;
    }
    .why .item h3 {
        font-size: 1.25rem;
    }
    .why .item p {
        font-size: .9375rem;
    }
    
    /*numuri*/
    .numuri {
        margin-top: 7.5rem;
    }
    .numuri figure {
       position: relative;
       max-width: 768px;
       height: 326px;  
    }
    .numuri figure img {
        max-width: 500px;
        left: 5%; 
    }
    .numuri figcaption {
        padding: 35px;
        top: 3%;
        bottom: 3%;
        right: 5%; 
    }
    .numuri h3 {
        margin-bottom: 20px;
    }
    .numuri li {
        font-size: .9375rem;
        margin: 0 0 17px;
    }
           
    /*atsauk */
    .atsauk {
        padding: 120px 45px 0 45px;
    }
    .atsauk .item {
        padding: 35px 33px 30px 70px;
        margin: 0 auto;
    }
    
    /*contacts*/
    .contacts {
        margin-top: 120px;
    }
    .contacts .info {
        padding: 60px 0 60px 45px;
        min-width: 300px;
    }
    .contacts .info h2 {
        margin-top: 0;
    }
    .contacts h5 {
        margin-bottom: 10px;
    }
    .contacts p {
        margin-bottom: 30px;
        line-height: 1.5;
    }
    .contacts .info img {
        padding-right: 18px;
    }
        
    /*footer*/
    footer p {
        padding: 20px 45px;
    }
    
    /*catalog*/
    .catalog {
        padding: 60px 5% 70px;   
    }
    .filter_button {
        font-size: .875rem;
        line-height: 1.06rem;
        background: #fff;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        -moz-box-shadow: 0px 2px 12px rgb(253, 253, 253);
        -webkit-box-shadow: 0px 2px 12px rgb(253, 253, 253);
        box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
        padding: 12px 30px 12px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filter_button img {
        display: inline-block;
        padding-right: 10px;
    }
    .catalog-content {
        display: block;
        position: relative;
    }
    .filter {
        display: none;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 136px;
        z-index: 50;
        background: rgb(255,255,255);        
        background: rgba(255,255,255,.85);        
        overflow:hidden;        
    }
    .filter_popup_content {
        margin: 0 auto;        
        width: 50%;
        min-width: 350px;
        -webkit-box-shadow: 0px 4px 25px rgb(230, 230, 230);
        -moz-box-shadow: 0px 4px 25px rgb(230, 230, 230);
        box-shadow: 0px 4px 25px rgba(153, 153, 153, 0.25);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        padding: 50px 60px;
        background: #FFFEFD;
        position: relative;
    }
    #apply-filter {
        display: block;
        background: #FAC663;
        margin-bottom: 15px;
    }
    .filter a {
        margin-top: auto;
    }
    .filter .close-button {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
    }
  
    /*discount*/
    .discount {
        background-position: left top, right top;
        background-size: auto, cover;
        padding-left: 50px;
        padding-top: 60px;
        padding-bottom: 60px;
        max-width: 678px;
    }
    .discount p {
        font-size: .9375rem;
    }
    
    /*room*/
    .room-detail {
        background: none;
    }
    .room {
        margin: 50px auto 120px;
        width: 90%;
        max-width: 768px;   
    }
    .room .picture {
        max-width: 354px;
    }
    .room .picture img {
        margin-left: -70px;
    }
    .room .info {
        padding-left: 49px;
    }
    .room .info p {
        font-size: .9375rem;
    }
    .room p.bed, .room p.dom, .room p.igra, .room p.kogti, .room p.none {
        margin-top: 20px;
    }
    /*pop-up*/
    .popup {
        top:136px;
    }
    .popup-content {
        width: 510px;
        -moz-box-shadow: 0px 0px 25px rgb(223, 223, 223);
        -webkit-box-shadow: 0px 0px 25px rgb(223, 223, 223);
        box-shadow: 0px 0px 25px rgba(153, 153, 153, 0.25);
    }
   .popup-content .screen_name {
       font-size: 1.75rem;
   }      
    /*thank-popup*/
    .thank-popup-content .screen_name {
        font-size: 1.75rem;   
    }
}
@media (max-width: 691px) {
    .numuri figure {
        height: auto;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .numuri img {
        position: static;
    }
    .numuri figcaption {
        position: static;
    }
    .cards {
        gap: 10px;
    }
}
@media (max-width: 660px) {
    .contacts {
        display: block;
    }
    .contacts .info {
        padding: 45px;
    }
    .contacts h2 {
        margin-bottom: 30px;
    }
    .contacts #map {
        height: 400px;
    }

}
@media (max-width: 678px) and (min-width: 615px) {    
    .card {
        display: flex;
        gap: 5px;
        flex-basis: 100%;
    }
    .cards h4 {
        margin-top: 15px;
        margin-bottom: 5px;
    }
}
@media (max-width: 510px) {
    .room .picture {
        display: none;
    }
}
@media (max-width: 480px) {
   /*бургерное меню*/
    header nav label, header nav span {
        display: inline;
    }
    header nav .tel, header nav .social {
        display: block;
    }
    header nav {   
        background-position: left 15px center;
        padding: 0;
    }
    header nav ul {
        display: block;
        position: fixed;
        padding: 100px 15px;
        background: #FAC663 url(../img/logo.png) no-repeat 15px 15px;
        top: 0;
        right: -100%;
        width: 100%;
        -webkit-transition: right .2s;
        -moz-transition: right .2s;
        -o-transition: right .2s;
        transition: right .2s;
        z-index: 9;
    }
    .right {
        right: -100%;
    }
    header nav ul li {
        display: block;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 25px;
    }      
    header nav ul li.tel {
        margin-top: 40px;
        font-size: 1rem;
    }
    header nav ul li a {
        width: 9rem;
        padding: 0px;
        display: block;
        font-size: 1.25rem;
        font-weight: 500;
    }
    header nav ul li .social a {
        display: inline-block;
        margin-right: 20px;
        width: auto;
    }
    .hidden-menu-ticker {
        display: none;
    }
    .btn-menu {
        background-color: transparent;
        padding: 10px 5px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        -o-transition: right .23s; 
        -webkit-transition: right .23s; 
        -moz-transition: right .23s; 
        transition: right .23s; 
        z-index: 10;
        width: 35px;
        height: 40px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    .btn-menu span {
        display: block;
        height: 2px;
        background-color: #1A212F;
        margin: 5px 0 0;
        position: relative;
    }
    .btn-menu span.first {
        margin-top: 0;
    }
    .hidden-menu-ticker:checked ~ .btn-menu {
        right: 20px;  
    }
    .hidden-menu-ticker:checked ~ ul {
        right: 0; 
    }
    .hidden-menu-ticker:checked ~ .btn-menu span.first {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 7px;
    }
    .hidden-menu-ticker:checked ~ .btn-menu span.second {
        opacity: 0;
    }
    .hidden-menu-ticker:checked ~ .btn-menu span.third {
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -7px;
    }

    .banner {    
        height: 100vh;
        background: url(../img/main2.png) no-repeat right bottom #FDAA52;
        background-size: cover;
        text-align: center;
        padding: 100px 0 0 0;
    }
    .banner p {
        font-size: .75rem;
        line-height: .87rem;
        margin-bottom: 12px;        
    }
    .banner h1 {
        font-size: 2.75rem;
        margin-bottom: 22px;
    }
    .banner h2 {
        font-size: 1rem;
    }
    .button-reserve1 {
            margin: 40px auto;
            text-align: left;
    }    
    
    /*why*/
    .why {
        padding-top: 40px;
        background: url(../img/paw_big.png) no-repeat right top 30px;
        background-size: 30%;
    }
    .screen_name {
         font-size: 1.75rem;
     }
    .why-items {
        display: block;        
        padding-left: 15px;
        padding-right: 15px;
    }
    .why .item {
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        padding: 25px;
    }
    .why .item img {
        width: 60px;
    }
    .why .item h3 {
        font-size: 1.125rem;
    }
    .why .item p {
        font-size: .9375rem;
    }
    
    /*numuri*/
    .numuri {
        margin-top: 70px;
        background: url(../img/fish.png) no-repeat left top 32px;
        background-size: 50%;
    }
    .numuri figure {
       max-width: 480px;
       height: auto;
       padding-left: 15px; 
       padding-right: 15px; 
    }
    .numuri img {
        max-width: 480px;
        height: auto;
        position: static;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomright: 0;
        border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-left-radius: 0;
    }
    .numuri figcaption {
        padding: 25px 25px 25px 25px;
        position: static;
    }
    .numuri h3 {
        margin-bottom: 20px;
    }
    .numuri  ul {
        margin-top: 0;
    }
    .numuri  li {
        font-size: .9375rem;
        margin: 0 0 17px;
    }
    .owl-theme .owl-dots {
        margin-top: 30px;
    }
    .owl-theme .owl-nav {
        display: none;
    }
    
    /*atsauk*/
    .atsauk {
        padding-top: 70px;
        background: url(../img/paw_big2.png) no-repeat right top 30px;
        background-size: 30%;
    }
    .atsauk .item {
        padding: 25px 21px 25px 56px;
        margin-right: 0px;
        display: block;
    }
    .atsauk .item p {
        font-size: .9375rem;
        letter-spacing: -.02em;
    }
    .atsauk .item .details {
        display: none;
    }
    .atsauk .owl-carousel {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    /*contacts*/
    .contacts {
        margin-top: 40px;
        display: block;
    }
    .contacts .info {
        padding: 40px 20px;
       min-width: 100%;
    }
    .contacts .info h2 {
        margin-top: 0;
        font-size: 1.75rem;
    }
    .contacts .info h5 {
        font-size: .9375rem;
    }
    .contacts .info p {
        font-size: .9375rem;
        line-height: 1.13rem;
        margin-bottom: 20px;
    }
    .contacts .info img {
        padding-right: 18px;
    }
    .contacts #map {
        background: #999;
        width: 100%;
        height: 300px;
    }
    
    /*footer*/
    footer {
        padding-top: 20px;
    }
    footer nav {
        display: none;
    }   
    footer p {
        display: block;
        padding: 20px 29px;        
    }
    footer p span {
        display: block;
        margin-bottom: 20px;
    }
    
    /*catalog*/
    .catalog {
        padding: 40px 15px 10px;   
    }
    .catalog_header {
        display: block;
        margin-bottom: 30px;
    }
    h1.screen_name {
        text-align: left;
        margin-bottom: 30px;
    }    
    .filter_button {
        font-size: .875rem;
        line-height: 1.06rem;
        background: #fff;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        -moz-box-shadow: 0px 2px 12px rgb(253, 253, 253);
        -webkit-box-shadow: 0px 2px 12px rgb(253, 253, 253);
        box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
        padding: 12px 30px 12px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 111px;
    }
    .filter_button img {
        display: inline-block;
        padding-right: 10px;
    }
    .catalog-content {
        display: block;
        position: relative;
    }
    .filter {
        display: none;
        width: 100%;
        height: 250vh;
        position: absolute;
        top: -170px;
        left: 0;
        z-index: 50;
        background: rgb(255,255,255);        
        background: rgba(255,255,255,.85);        
        overflow:hidden;        
        padding: 10px 25px;
    }
    .filter_popup_content {
        margin: 0 auto;        
        -webkit-box-shadow: 0px 4px 25px rgb(230, 230, 230);
        -moz-box-shadow: 0px 4px 25px rgb(230, 230, 230);
        box-shadow: 0px 4px 25px rgba(153, 153, 153, 0.25);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        padding: 50px 25px;
        background: #FFFEFD;
        position: relative;
    }   
    #apply-filter {
        display: block;
        background: #FAC663;
        margin-bottom: 15px;
    }
    .filter a {
        margin-top: auto;
    }
    .filter .close-button {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .cards {
        width: 100%;
        display: block;
    }
    .card {
        display: block;
        width: 100%;
        margin: 0 0 30px;
    }
    .card img.photo {
        -moz-border-radius: 6px 6px 0px 0px;
        -webkit-border-radius: 6px 6px 0px 0px;
        border-radius: 6px 6px 0px 0px;
        width: 100%;
        height: auto;
    }
    .card .info {
        padding: 0 10px 25px 10px
    }
    .cards .button-reserve2 {
        padding-left: 30px;
        width: 206px;
    }

    /*discount*/
    .discount-wrapper {
        padding: 0 15px;
        width: 100%;
    }
    .discount {
        background-image: url(../img/paw_big6.png);
        background-position: left top;
        background-size: auto;
        background-color: #FDC95E; 
        max-height: 100%;        
        padding: 40px 0 0;
        width: 100%;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        text-align: center;
    }
    .discount p {
        font-size: .9375rem;        
        margin-top: 20px;
    }
    .discount p:first-child {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    .discount p span {
        font-size: 2.31rem;
        line-height: 2.75rem;
    }
    
    /*room*/
   .room-detail {
        background: none;
        padding: 40px 15px 0;
    }
    .room {
        display: block;
        margin: 0px;
        width: 100%;
        max-width: 100%;   
    }
    .room .picture {
        max-width: 100%;
        padding: 0px;
    }     
    .room h2 {
        margin-top: 40px;
    }
    .room .info p {
        font-size: .9375rem;
        line-height: 1.125rem;
    }
    .room p.bed, .room p.dom, .room p.igra, .room p.kogti, .room p.none {
        margin-top: 15px;
    } 
    .room p:last-child {
        margin-top: 24px;
        margin-bottom: 0;
    }
    /*pop-up*/
    .popup {
        height: 400vh;        
    }
    .popup-content {
        width: 90%;
        padding: 60px 3%;
    }
    .popup-content .row {
        position: relative;
        margin-bottom: 20px;
    }
    .popup-content .row input {
        padding: 20px 2px 20px 30px;
    }
    .popup-content .date input {
        padding: 20px 2px 20px 20px;
        font-size: .9375rem;
    }
    .popup-content label {
        font-size: .9375rem;
        padding: 22px 2px 10px 30px; 
        display: inline-block;
    }
    .popup-content .date {
        display: block;        
    }      
    .popup-content .date span {
        font-size: .9375rem;
        margin-bottom: 15px;
        display: inline-block;
    }
    .popup-content .date .date-fields {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .popup-content .button-reserve2 {
        margin: 35px auto 0;  
        display: block;  
    }
    .close-button {
        top: 20px;
        right: 20px;
    }
    
    /*thank-popup*/
    .thank-popup {
        height: 300vh;        
        background-color: #FCFBFB;
    }
    .thank-popup-content {
        margin:20% auto 0;
        width: 90%;
        padding: 60px 3%;
    }
    .thank-popup-content p {
        font-size: .9375rem;
        line-height: 1.125rem;
    }
}